<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  data () {
    return {
      eventTypes: ''
    }
  }
}
</script>

<style>
</style>
