<template>
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" action="search_results.html">
        </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message">La Campana Tracker</span>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            <!--<li>-->
              <!--<a href="mailbox.html">-->
                <!--<div>-->
                  <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                  <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                <!--</div>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
              <!--<a href="profile.html">-->
                <!--<div>-->
                  <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                  <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                <!--</div>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> Server Rebooted
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <div class="text-center link-block">
                <a href="#">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>


        <li>
          <a v-link="'login'" v-if="user.authenticated" @click.prevent="logout()">
            <i class="fa fa-sign-out"></i> Salir
          </a>
        </li>
        <li>
          <a class="right-sidebar-toggle">
            <i class="fa fa-tasks"></i>
          </a>
        </li>
      </ul>

    </nav>
  </div>

  <div class="wrapper wrapper-content animated fadeIn">
    <div class="p-w-md m-t-sm">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="m-b-xs">
            0
          </h1>
          <small>
            Eventos en el mes
          </small>
          <div id="sparkline1" class="m-b-sm"></div>
          <div class="row">
            <div class="col-xs-4">
              <small class="stats-label">Registrados</small>
              <h4>0</h4>
            </div>

            <div class="col-xs-4">
              <small class="stats-label">% Eventos nuevos</small>
              <h4>0%</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">Ultima semana</small>
              <h4>0</h4>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <h1 class="m-b-xs">
            0
          </h1>
          <small>
            Horas de uso en el mes
          </small>
          <div id="sparkline2" class="m-b-sm"></div>
          <div class="row">
            <div class="col-xs-4">
              <small class="stats-label">Horas / Uso</small>
              <h4>0</h4>
            </div>

            <div class="col-xs-4">
              <small class="stats-label">% Inactividad</small>
              <h4>0%</h4>
            </div>
            <div class="col-xs-4">
              <small class="stats-label">Ultima semana</small>
              <h4>0</h4>
            </div>
          </div>


        </div>
        <div class="col-sm-4">

          <div class="row m-t-xs">
            <div class="col-xs-6">
              <h5 class="m-b-xs">Interacciones ultimo mes</h5>
              <h1 class="no-margins">0</h1>
              <div class="font-bold text-navy">0% <i class="fa fa-bolt"></i></div>
            </div>
            <div class="col-xs-6">
              <h5 class="m-b-xs">Interacciones totales</h5>
              <h1 class="no-margins">0</h1>
              <div class="font-bold text-navy">0% <i class="fa fa-bolt"></i></div>
            </div>
          </div>

          <table class="table small m-t-sm">
            <tbody>
            <tr>
              <td>
                <strong>0</strong> Eventos de formulario

              </td>
              <td>
                <strong>0</strong> Eventos de formulario
              </td>
            </tr>
            <tr>
              <td>
                <strong>0</strong> Eventos de touch
              </td>
              <td>
                <strong>0</strong> Eventos de touch
              </td>
            </tr>
            </tbody>
          </table>



        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="small pull-left col-md-3 m-l-lg m-t-md">
            <strong>Interactividad</strong> es la cantidad de interacciones con los totems.
          </div>
          <div class="small pull-right col-md-3 m-t-md text-right">
            <strong>Disponibilidad</strong> es la cantidad de disponibilidad de los totems.
          </div>
          <div class="flot-chart m-b-xl">
            <div class="flot-chart-content" id="flot-dashboard5-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>
      <strong>Copyright</strong> <a href="http://www.gestionweb.cl">gestionWeb</a> &copy; 2016
    </div>
  </div>

  <div id="right-sidebar">
    <div class="sidebar-container">

      <ul class="nav nav-tabs navs-3">

        <li class="active"><a data-toggle="tab" href="#tab-1">
          Notes
        </a></li>
        <li><a data-toggle="tab" href="#tab-2">
          Projects
        </a></li>
        <li class=""><a data-toggle="tab" href="#tab-3">
          <i class="fa fa-gear"></i>
        </a></li>
      </ul>

      <div class="tab-content">


        <div id="tab-1" class="tab-pane active">

          <div class="sidebar-title">
            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
          </div>

          <div>

            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a1.jpg">

                  <div class="m-t-xs">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                  </div>
                </div>
                <div class="media-body">

                  There are many variations of passages of Lorem Ipsum available.
                  <br>
                  <small class="text-muted">Today 4:21 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a2.jpg">
                </div>
                <div class="media-body">
                  The point of using Lorem Ipsum is that it has a more-or-less normal.
                  <br>
                  <small class="text-muted">Yesterday 2:45 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a3.jpg">

                  <div class="m-t-xs">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                  </div>
                </div>
                <div class="media-body">
                  Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                  <br>
                  <small class="text-muted">Yesterday 1:10 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a4.jpg">
                </div>

                <div class="media-body">
                  Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                  <br>
                  <small class="text-muted">Monday 8:37 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a8.jpg">
                </div>
                <div class="media-body">

                  All the Lorem Ipsum generators on the Internet tend to repeat.
                  <br>
                  <small class="text-muted">Today 4:21 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a7.jpg">
                </div>
                <div class="media-body">
                  Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                  <br>
                  <small class="text-muted">Yesterday 2:45 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a3.jpg">

                  <div class="m-t-xs">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                  </div>
                </div>
                <div class="media-body">
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                  <br>
                  <small class="text-muted">Yesterday 1:10 pm</small>
                </div>
              </a>
            </div>
            <div class="sidebar-message">
              <a href="#">
                <div class="pull-left text-center">
                  <img alt="image" class="img-circle message-avatar" src="images/a4.jpg">
                </div>
                <div class="media-body">
                  Uncover many web sites still in their infancy. Various versions have.
                  <br>
                  <small class="text-muted">Monday 8:37 pm</small>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div id="tab-2" class="tab-pane">

          <div class="sidebar-title">
            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
          </div>

          <ul class="sidebar-list">
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Business valuation</h4>
                It is a long established fact that a reader will be distracted.

                <div class="small">Completion with: 22%</div>
                <div class="progress progress-mini">
                  <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                </div>
                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Contract with Company </h4>
                Many desktop publishing packages and web page editors.

                <div class="small">Completion with: 48%</div>
                <div class="progress progress-mini">
                  <div style="width: 48%;" class="progress-bar"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Meeting</h4>
                By the readable content of a page when looking at its layout.

                <div class="small">Completion with: 14%</div>
                <div class="progress progress-mini">
                  <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="label label-primary pull-right">NEW</span>
                <h4>The generated</h4>
                <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                There are many variations of passages of Lorem Ipsum available.
                <div class="small">Completion with: 22%</div>
                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Business valuation</h4>
                It is a long established fact that a reader will be distracted.

                <div class="small">Completion with: 22%</div>
                <div class="progress progress-mini">
                  <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                </div>
                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Contract with Company </h4>
                Many desktop publishing packages and web page editors.

                <div class="small">Completion with: 48%</div>
                <div class="progress progress-mini">
                  <div style="width: 48%;" class="progress-bar"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="small pull-right m-t-xs">9 hours ago</div>
                <h4>Meeting</h4>
                By the readable content of a page when looking at its layout.

                <div class="small">Completion with: 14%</div>
                <div class="progress progress-mini">
                  <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="label label-primary pull-right">NEW</span>
                <h4>The generated</h4>
                <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                There are many variations of passages of Lorem Ipsum available.
                <div class="small">Completion with: 22%</div>
                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
              </a>
            </li>

          </ul>

        </div>

        <div id="tab-3" class="tab-pane">

          <div class="sidebar-title">
            <h3><i class="fa fa-gears"></i> Settings</h3>
            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
          </div>

          <div class="setings-item">
                    <span>
                        Show notifications
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                <label class="onoffswitch-label" for="example">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Disable Chat
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                <label class="onoffswitch-label" for="example2">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Enable history
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                <label class="onoffswitch-label" for="example3">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Show charts
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                <label class="onoffswitch-label" for="example4">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Offline users
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                <label class="onoffswitch-label" for="example5">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Global search
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                <label class="onoffswitch-label" for="example6">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="setings-item">
                    <span>
                        Update everyday
                    </span>
            <div class="switch">
              <div class="onoffswitch">
                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                <label class="onoffswitch-label" for="example7">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="sidebar-content">
            <h4>Settings</h4>
            <div class="small">
              I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</template>

<style>
  .flot-chart{
    height: 400px;
  }
</style>
<script>

import auth from '../auth'

export default {
  data () {
    return {
      user: auth.user
    }
  },
  methods:{
    logout() {
      auth.logout();
      core.modules.ui.router.go('login');
    }
  },
  route: {
    // Check the users auth status before
    // allowing navigation to the route
    canActivate() {
      return auth.user.authenticated
    }
  },
  activate: function (done) {
    var data1 = [
      [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,20],[11,10],[12,13],[13,4],[14,7],[15,8],[16,12]
    ];
    var data2 = [
      [0,0],[1,2],[2,7],[3,4],[4,11],[5,4],[6,2],[7,5],[8,11],[9,5],[10,4],[11,1],[12,5],[13,2],[14,5],[15,2],[16,0]
    ];

    $(document).ready(function(){

      $.plot($("#flot-dashboard5-chart"), [
        data1, data2
      ], {
        series: {
          lines: {
            show: true,
            fill: true
          },
          points: {
            radius: 1,
            show: true
          },
          splines: {
            show: true,
            tension: 0.4,
            lineWidth: 1,
            fill: 0.4
          },
          shadowSize: 2
        },
        grid: {
          hoverable: true,
          clickable: true,
          borderWidth: 2,
          color: 'transparent'
        },
        colors: ["#1ab394", "#1C84C6"],
        xaxis:{
        },
        yaxis: {
        },
        tooltip: true
      });
    });

    done()
  }
}
</script>
