<template>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">La Campana Tracker</span>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a v-link="'login'" v-if="user.authenticated" @click.prevent="logout()">
                        <i class="fa fa-sign-out"></i> Salir
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Eventos</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Eventos</strong>
                </li>
            </ol>
        </div>
    </div>

    <!-- main datatable-->
    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#main-tab"> <i class="fa fa-th"></i> Todos </a>
                        </li>
                        <li class="" v-for="display in displays">
                            <a data-toggle="tab" :href="'#tab-'+display.display_id"><i class="fa fa-desktop"></i>{{ display.name }}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <modal></modal>

                        <div id="main-tab" class="tab-pane active">
                            <div class="panel-body">
                                <event-datatable></event-datatable>
                            </div>
                        </div>
                        <div class="tab-pane" v-for="display in displays" :id="'tab-'+display.display_id">
                            <div class="panel-body">
                                <event-datatable :display_id="display.display_id"></event-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</template>

<script>
import Auth from '../auth'
import Api from '../api'
import Modal from './Modal.vue'
import EventDatatable from './EventDatatable.vue'

export default {
    data () {
        return {
            user: Auth.user,
            events: null,
            displays : null,
            currentEvent: null
        }
    },
    components: { Modal, EventDatatable } ,
    route: {
        // Check the users auth status before
        // allowing navigation to the route
        canActivate() {
          return Auth.user.authenticated
        }
    },
    methods:{
        setCurrentEvent(){
            this.$broadcast('setCurrentEvent', this.currentEvent);
        },
        setDatatableEvents(){
            this.$broadcast('setEvents', this.events);
        },
        bindModalButtons(){
            var self = this;
            // Refer $(document) is necessary
            $(document).on('click','button.event-view-data',function(){
                var _id = $(this).attr('data-index-view');
                if(_id){
                    self.currentEvent = _.find( self.events, { '_id': _id });
                    self.setCurrentEvent();
                }
            });
        },
        logout() {
            Auth.logout();
            core.modules.ui.router.go('login');
        },
        getEvents(){
            var self = this;
            self.displays = core.modules.ui.vm.displays;

            //Get Events
            Api.getEvents(self, function(response){
                // Convert payload value string to object
                self.events = _.map(response, function(currentObject) {
                    currentObject.payload = JSON.parse(currentObject.payload);

                    if(self.displays){
                        var current_display = _.find( core.modules.ui.vm.displays, { 'display_id': currentObject.display_id });
                        if(current_display){
                            currentObject.display_name = current_display.name;
                        }
                    }

                    return currentObject;
                });

                self.setDatatableEvents();

                self.bindModalButtons();
            });
        },
        getDisplays(){
            var self = this;
            Api.getDisplays(this, function(response){
                //add connected attribute to collection
                var displays = _.map(response, function(element) {
                    return _.extend({}, element, { connected: false });
                });
                self.displays = displays;
            });
        }
    },
    activate: function(done){
        this.getDisplays(); // load displays
        this.getEvents(); // load events
        done();
    }
}
</script>