<template>
    <sidebar></sidebar>
    <div id="page-wrapper" class="gray-bg">
      <!-- render the currently active component/page here -->
      <component :is="currentView"></component>
    </div>
    <skin-config></skin-config>
</template>

<script>
import Sidebar from './Sidebar.vue'
import SkinConfig from './SkinConfig.vue'
import Dashboard from './Dashboard.vue'
import Totems from './Totems.vue'
import Events from './Events.vue'
import auth from '../auth.js'

export default {
  data () {
    return {
      //Default View
      currentView: 'Dashboard',
      eventTypes: ''
    }
  },
  components: {
    Sidebar, SkinConfig, Dashboard, Totems, Events
  },
  methods:{
    setView(view) {
      this.currentView = view;
    }
  },
  events:{
    'setView': 'setView'
  },
  route: {
    // Check the users auth status before
    // allowing navigation to the route
    canActivate() {
      return auth.user.authenticated
    }
  }
}
</script>

<style>
  .container{
    padding: 0;
  }
</style>
