<template>
    <div class="modal inmodal" id="modal-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" v-if="currentModalEvent.type_name === 'APP_TOUCH_EVENT'">Evento de touch</h4>
                    <h4 class="modal-title" v-if="currentModalEvent.type_name === 'APP_FORM_EVENT'">Evento de formulario</h4>
                    <small class="font-bold" v-if="currentModalEvent.type_name === 'APP_TOUCH_EVENT'">Este evento ocurre cuando un usuario hace touch o tap en cualquier boton de la aplicacion.</small>
                    <small class="font-bold" v-if="currentModalEvent.type_name === 'APP_FORM_EVENT'">Este evento ocurre cuando un usuario guarda sus datos en un formulario de la aplicacion.</small>
                </div>
                <div class="modal-body">
                    <div v-if="currentModalEvent.type_name === 'APP_TOUCH_EVENT'">
                        <p><strong>Tipo de evento</strong>: {{ currentModalEvent.payload.event_type}}</p>
                        <p><strong>Nombre del evento</strong>: {{ currentModalEvent.payload.event_name}}</p>
                        <p><strong>Descripcion del evento</strong>: {{ currentModalEvent.payload.event_description}}</p>
                    </div>
                    <div v-if="currentModalEvent.type_name === 'APP_FORM_EVENT'">
                        <p><strong>Nombre</strong>: {{ currentModalEvent.payload.name}}</p>
                        <p><strong>Email</strong>: {{ currentModalEvent.payload.email}}</p>
                        <p><strong>Telefono</strong>: {{ currentModalEvent.payload.phone}}</p>
                        <p><strong>Comentarios</strong>: {{ currentModalEvent.payload.comments}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                currentModalEvent: 'hello vue'
            }
        },
        events:{
            setCurrentEvent: function( data ){
                this.currentModalEvent = data
            }
        }
    }
</script>