<template>
  <nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.name }}</strong>
                             </span> <span class="text-muted text-xs block">{{ user.position }}<b class="caret"></b></span> </span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <!--<li><a href="#">Profile</a></li>-->
              <!--<li><a href="#">Contacts</a></li>-->
              <!--<li><a href="#">Mailbox</a></li>-->
              <li class="divider"></li>
              <li><a @click.prevent="logout()">Logout</a></li>
            </ul>
          </div>
          <div class="logo-element">
            IN+
          </div>
        </li>
        <li v-bind:class="[currentView == 'Dashboard' ? 'active':'']">
          <a @click.prevent="setView('Dashboard')"><i class="fa fa-pie-chart"></i> <span class="nav-label">Dashboard</span></a>
        </li>
        <li  v-bind:class="[currentView == 'Totems' ? 'active':'']">
          <a @click.prevent="setView('Totems')"><i class="fa fa-desktop"></i> <span class="nav-label">Totems</span></a>
        </li>
        <li  v-bind:class="[currentView == 'Events' ? 'active':'']">
          <a @click.prevent="setView('Events')"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Eventos</span></a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import auth from '../auth.js'

export default {
  data () {
    return {
       currentView: 'Dashboard',
        user: auth.user
    }
  },
  methods: {
    setView(view) {
      this.currentView = view;
      this.$dispatch('setView',view);
    }
  },
  route: {
    // Check the users auth status before
    // allowing navigation to the route
    canActivate() {
      return auth.user.authenticated
    }
  }
}
</script>
