<template>
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">La Campana Tracker</span>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a v-link="'login'" v-if="user.authenticated" @click.prevent="logout()">
                        <i class="fa fa-sign-out"></i> Salir
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Totems</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Totems</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div v-for="display in displays" v-if="display.address" class="col-lg-3">
                <div v-bind:class="[display.connected? 'widget p-xl lazur-bg':'widget p-xl red-bg']">
                    <h2>
                        {{ display.name }}
                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li>
                            <span v-if="display.connected" class="fa fa-check-square-o m-r-xs"></span>
                            <span class="fa fa-square-o m-r-xs" v-else></span>
                            <label>Status:</label>
                            <strong v-if="display.connected">Conectado</strong>
                            <strong v-else>No conectado</strong>
                        </li>
                        <li>
                            <span class="fa fa-refresh m-r-xs"></span>
                            <label>Ultima actualizacion:</label>
                            22:38, Viernes 28 de Junio
                        </li>
                        <li>
                            <span class="fa fa-hand-o-down m-r-xs"></span>
                            <label>Eventos registrados:</label>
                            124 Eventos de formularios
                            218 Eventos de clics
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import auth from '../auth'
    import Api from '../api'

    export default {
        data () {
            return {
                user: auth.user,
                displays: null,
                interval: null
            }
        },
        route: {
            // Check the users auth status before
            // allowing navigation to the route
            canActivate() {
                return auth.user.authenticated
            }
        },
        methods:{
            logout() {
                auth.logout();
                core.modules.ui.router.go('login');
            },
            getDisplays(){
                var self = this;
                self.displays = core.modules.ui.vm.displays; //from ui vm
            },
            asyncStatus(){
              var self = this;
              self.interval = setInterval(function () {
                _.map(self.displays, function(element){
                  if(element.address){ // if is address
//                    Api.heartbeatDisplayResponse( self, element.address, function(status){
////                      return _.extend({}, element, { connected: status });
//                      return element.connected = status;
//                    });
                  }
                  else{
                    console.log('not address')
        //            return _.extend({}, element, {connected: false });
                  }
                });
              }, 1000);
            }
            },
            activate: function(done){
                this.getDisplays();
                done();
            },
            beforeDestroy: function(){
                clearInterval(this.interval); // clean displays status requests
            }
    }
</script>
